/*SHARED*/
* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    width: 100vw;
}

header h1 {
    text-align: center;
    font-size: 5em;
    background-image: linear-gradient(to right, slateblue, slategrey);
    text-shadow: .2em .2em black;
}

nav {
    display: flex;
    width: 100vw;
    margin: auto;
    justify-content: space-between;
}

nav a {
    background-color: slategrey;
    font-size: 2em;
    padding: .1em;
    margin: auto;
    border-radius: .2em;
    text-decoration: none;
}

body {
    background-color: black;
}



@media only screen and (max-width: 768px) {
    header h1 {
        display: block;
        text-align: center;
        width: 100vw;
        margin: 0 auto 1em;
        background-image: linear-gradient(to right, slateblue, slategrey);
        text-shadow: .2em .2em black;
    }

    nav {
        display: flex;
        width: 100vw;
    }

    nav a {
        flex-basis: 30%;
        text-align: center;
        background-color: slategrey;
        font-size: 1.3em;
        padding: .1em;
        margin: auto;
        border-radius: .2em;
    }
}

/*SLIDER*/
.slider {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0 auto 0;
    width: 80vw;
}

.slider img {
    margin: 0 auto 0;
    position: relative;
    width: 60vw;
    grid-area: 1 / 1 / 2 / 2;
}


.slider-img1 {
    animation: fade1 20s infinite;
    z-index: 1;
}

.slider-img2 {
    animation: fade2 20s infinite;
    z-index: 2;
}

.slider-img3 {
    animation: fade3 20s infinite;
    z-index: 3;
}

.slider-img4 {
    animation: fade4 20s infinite;
    z-index: 4;
}

.slider-img5 {
    animation: fade5 20s infinite;
    z-index: 5;
}

.slider-img6 {
    animation: fade6 20s infinite;
    z-index: 6;
}

.slider-img7 {
    animation: fade7 20s infinite;
    z-index: 7;
}

.slider-img8 {
    animation: fade8 20s infinite;
    z-index: 8;
}

@keyframes fade1 {
    0% {
        opacity: 1;
    }

    12.5% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    37.5% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    62.5% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
    }

    12.5% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    37.5% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    62.5% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade3 {
    0% {
        opacity: 0;
    }

    12.5% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    37.5% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    62.5% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade4 {
    0% {
        opacity: 0;
    }

    12.5% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    37.5% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    62.5% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade5 {
    0% {
        opacity: 0;
    }

    12.5% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    37.5% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    62.5% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade6 {
    0% {
        opacity: 0;
    }

    12.5% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    37.5% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    62.5% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    87.5% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade7 {
    0% {
        opacity: 0;
    }

    12.5% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    37.5% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    62.5% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    87.5% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fade8 {
    0% {
        opacity: 0;
    }

    12.5% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    37.5% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    62.5% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    87.5% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) {
    .slider {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 0 auto 0;
        width: 80vw;
    }

    .slider img {
        margin: 0 auto 0;
        position: relative;
        width: 80vw;
        grid-area: 1 / 1 / 2 / 2;
    }
}


/*PRODUCT PAGE*/
.sec-list {
    display: grid;
    grid-template-areas:
        'a a'
        'b c';
    margin: 2rem;
}

.sec-list .item {
    grid-area: a;
}

.sec-list img {
    width: 30vw;
    grid-area: b;
    box-shadow: .2em .2em slategrey;
}

.sec-list .card {
    grid-area: c;
    width: 50vw;
    background-color: teal;
    padding: .3em;
    box-shadow: .3em .3em slategrey;
    border-radius: .3em;
}

.sec-list .item,
.listprice {
    text-align: center;
    background-color: rgb(31, 51, 51);
    border-radius: .3em;
}

.sec-list .desc {
    font-size: 1.3rem;
    width: 80%;
    margin: 1rem auto 1rem;
}

.card a {
    display: block;
    margin: .2em auto .2em;
    padding: .2em;
    text-align: center;
    text-decoration: none;
    width: fit-content;
    background-color: black;
    border-radius: .2em;
}

.card a:hover {
    background-color: slategrey;
    border-style: solid;
}

.card a:active {
    background-color: red;
    border-style: solid;
}

@media only screen and (max-width: 768px) {
    .sec-list {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        width: 100vw;
        height: auto;
        justify-items: center;
        margin: 3em auto 3em;
    }

    .sec .item {
        grid-area: 1 / 1 / 2 / 2;
    }

    .sec-list img {
        grid-area: 2 / 1 / 3 / 2;
        margin: .2em auto .2em;
        width: 75vw;
    }

    .sec-list .card {
        grid-area: 3 / 1 / 4 / 2;
        width: 75vw;
        font-size: 10pt;
        background-color: teal;
        padding: .3em;
        box-shadow: .3em .3em slategrey;
        border-radius: .3em;
    }

    .card .item {
        text-align: center;
        background-color: rgb(31, 51, 51);
        border-radius: .3em;
    }

    .listprice {
        text-align: center;
        background-color: rgb(31, 51, 51);
        border-radius: .3em;
    }

}

/*CONTACT PAGE*/

.f-contact {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 1em auto 1em;
    background-color: Teal;
}

.f-contact input {
    margin: .2em;
}

.f-contact #submit {
    color: black;
    width: 20%;
    text-align: center;
    margin: .1em auto .1em;
}

@media only screen and (max-width: 768px) {
    .f-contact {
        width: 80vw;
    }
}

/*FOOTER*/
footer {
    background-image: linear-gradient(to right, slateblue, slategrey);
}

footer div {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 1em auto 1em;
}

footer h1 {
    text-align: center;
    font-size: 5em;
    text-shadow: .2em .2em black;
}

@media only screen and (max-width:768px) {
    footer div {
        display: flex;
        justify-content: space-between;
        width: 80vw;
        margin: 1em auto 1em;
    }

    footer div a {
        width: min-content;
    }

    footer h1 {
        text-align: center;
        font-size: 2em;
        text-shadow: .2em .2em black;
    }
}